<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzw.mapper.TenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yzw.domain.Tenant">
        <id column="id" property="id" />
        <result column="tenant_type" property="tenantType" />
        <result column="companyName" property="companyName" />
        <result column="companyNum" property="companyNum" />
        <result column="registerTime" property="registerTime" />
        <result column="state" property="state" />
        <result column="address" property="address" />
        <result column="logo" property="logo" />
    </resultMap>
    <!--void saveTenantMeals(List<Map<String, Long>> mealsMap);-->
    <insert id="saveTenantMeals" parameterType="arrayList">
        insert into hrm_manage.t_tenant_meal (meal_id, tenant_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.mealId},#{item.tenantId})
        </foreach>
    </insert>

</mapper>
